In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-19 16:18:08--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.165.71.145, 18.165.71.48, 18.165.71.56, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.165.71.145|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1,1M) [binary/octet-stream]
Saving to: 'green_tripdata_2025-11.parquet.1'

     0K .......... .......... .......... .......... ..........  4%  245K 4s
    50K .......... .......... .......... .......... ..........  8%  286K 4s
   100K .......... .......... .......... .......... .......... 13%  616K 3s
   150K .......... .......... .......... .......... .......... 17%  846K 2s
   200K .......... .......... .......... .......... .......... 21%  662K 2s
   250K .......... .......... .......... .......... .......... 26%  639K 2s
   300K .......... .......... .......... .......... .......... 30% 1,33M 2s
   350K .......... .......... .......... .......... .......... 35%  875K 1s
   400K .......... .......... .......... .......... .......... 39% 2,22M 1s
   450K .......... .......... .......... .......... .......... 43% 2,59M 1s
   500K .......... .......... .......... .......... .......... 48%  869K 1s
   550K .......... .......... .......... .......... .......... 52% 1000K 1s
   600K .......... .......... .......... .......... .......... 57% 1,10M 1s
   650K .......... .......... .......... .......... .......... 61% 2,06M 1s
   700K .......... .......... .......... .......... .......... 65% 2,88M 1s
   750K .......... .......... .......... .......... .......... 70% 2,75M 0s
   800K .......... .......... .......... .......... .......... 74% 3,38M 0s
   850K .......... .......... .......... .......... .......... 79% 7,15M 0s
   900K .......... .......... .......... .......... .......... 83% 6,18M 0s
   950K .......... .......... .......... .......... .......... 87% 2,40M 0s
  1000K .......... .......... .......... .......... .......... 92% 4,03M 0s
  1050K .......... .......... .......... .......... .......... 96% 8,20M 0s
  1100K .......... .......... .......... .......              100% 1,43M=1,1s

2026-01-19 16:18:10 (1024 KB/s) - 'green_tripdata_2025-11.parquet.1' saved [1164775/1164775]

--2026-01-19 16:18:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T09%3A55%3A14Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T08%3A54%3A38Z&ske=2026-01-19T09%3A55%3A14Z&sks=b&skv=2018-11-09&sig=NxlS2dRUbIyDdOd05uKevovC9P9EcP6fgN7Ok%2Bz127U%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgxNDU5MiwibmJmIjoxNzY4ODE0MjkyLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.M7wkix6AuAfgR8dJeOiinwW6HmId7d2Y3gZ99OX-PaI&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-19 16:18:11--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T09%3A55%3A14Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T08%3A54%3A38Z&ske=2026-01-19T09%3A55%3A14Z&sks=b&skv=2018-11-09&sig=NxlS2dRUbIyDdOd05uKevovC9P9EcP6fgN7Ok%2Bz127U%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgxNDU5MiwibmJmIjoxNzY4ODE0MjkyLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.M7wkix6AuAfgR8dJeOiinwW6HmId7d2Y3gZ99OX-PaI&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi_zone_lookup.csv.1'

     0K .......... ..                                         100% 1,07M=0,01s

2026-01-19 16:18:11 (1,07 MB/s) - 'taxi_zone_lookup.csv.1' saved [12322/12322]

In [9]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [3]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [11]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [12]:
df.head(0).to_sql(
    name="green_taxi_trips",
    con=engine,
    if_exists="replace",
    index=False
)

print("green_taxi_trips table created")

green_taxi_trips table created

In [4]:
zones = pd.read_csv("taxi_zone_lookup.csv")

In [5]:
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
engine = create_engine(
    "postgresql://postgres:postgres@localhost:5433/ny_taxi?sslmode=disable"
)

In [7]:
print(
    pd.io.sql.get_schema(
        zones,
        name="taxi_zone_lookup",
        con=engine
    )
)

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [8]:
zones.head(0).to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="replace",
    index=False
)

print("taxi_zone_lookup table created")

taxi_zone_lookup table created

In [10]:
zones.to_sql(
    name="taxi_zone_lookup",
    con=engine,
    if_exists="append",
    index=False
)

print("taxi_zone_lookup data inserted")

taxi_zone_lookup data inserted

In [14]:
chunk_size = 100_000
num_rows = len(df)

In [15]:
for start in tqdm(range(0, num_rows, chunk_size)):
    end = start + chunk_size
    df_chunk = df.iloc[start:end]

    df_chunk.to_sql(
        name="green_taxi_trips",
        con=engine,
        if_exists="append",
        index=False,
        method="multi"
    )

  0%|          | 0/1 [00:00<?, ?it/s]

In [16]:
pd.read_sql("SELECT COUNT(*) FROM green_taxi_trips", engine)

   count
0  46912

In [17]:
pd.read_sql("SELECT COUNT(*) FROM taxi_zone_lookup", engine)

   count
0    265