In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-19 16:18:08--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.165.71.145, 18.165.71.48, 18.165.71.56, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.165.71.145|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1,1M) [binary/octet-stream]
Saving to: 'green_tripdata_2025-11.parquet.1'

     0K .......... .......... .......... .......... ..........  4%  245K 4s
    50K .......... .......... .......... .......... ..........  8%  286K 4s
   100K .......... .......... .......... .......... .......... 13%  616K 3s
   150K .......... .......... .......... .......... .......... 17%  846K 2s
   200K .......... .......... .......... .......... .......... 21%  662K 2s
   250K .......... .......... .......... .......... .......... 26%  639K 2s
   300K .......... .......... .......... .......... .......... 30% 1,33M 2s
   350K .......... .......... .......... .......... .......... 35%  875K 1s
   400K .......... .......... .......... .......... .......... 39% 2,22M 1s
   450K .......... .......... .......... .......... .......... 43% 2,59M 1s
   500K .......... .......... .......... .......... .......... 48%  869K 1s
   550K .......... .......... .......... .......... .......... 52% 1000K 1s
   600K .......... .......... .......... .......... .......... 57% 1,10M 1s
   650K .......... .......... .......... .......... .......... 61% 2,06M 1s
   700K .......... .......... .......... .......... .......... 65% 2,88M 1s
   750K .......... .......... .......... .......... .......... 70% 2,75M 0s
   800K .......... .......... .......... .......... .......... 74% 3,38M 0s
   850K .......... .......... .......... .......... .......... 79% 7,15M 0s
   900K .......... .......... .......... .......... .......... 83% 6,18M 0s
   950K .......... .......... .......... .......... .......... 87% 2,40M 0s
  1000K .......... .......... .......... .......... .......... 92% 4,03M 0s
  1050K .......... .......... .......... .......... .......... 96% 8,20M 0s
  1100K .......... .......... .......... .......              100% 1,43M=1,1s

2026-01-19 16:18:10 (1024 KB/s) - 'green_tripdata_2025-11.parquet.1' saved [1164775/1164775]

--2026-01-19 16:18:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T09%3A55%3A14Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T08%3A54%3A38Z&ske=2026-01-19T09%3A55%3A14Z&sks=b&skv=2018-11-09&sig=NxlS2dRUbIyDdOd05uKevovC9P9EcP6fgN7Ok%2Bz127U%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgxNDU5MiwibmJmIjoxNzY4ODE0MjkyLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.M7wkix6AuAfgR8dJeOiinwW6HmId7d2Y3gZ99OX-PaI&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-19 16:18:11--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-19T09%3A55%3A14Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-19T08%3A54%3A38Z&ske=2026-01-19T09%3A55%3A14Z&sks=b&skv=2018-11-09&sig=NxlS2dRUbIyDdOd05uKevovC9P9EcP6fgN7Ok%2Bz127U%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODgxNDU5MiwibmJmIjoxNzY4ODE0MjkyLCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.M7wkix6AuAfgR8dJeOiinwW6HmId7d2Y3gZ99OX-PaI&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi_zone_lookup.csv.1'

     0K .......... ..                                         100% 1,07M=0,01s

2026-01-19 16:18:11 (1,07 MB/s) - 'taxi_zone_lookup.csv.1' saved [12322/12322]

In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")

In [5]:
zones = pd.read_csv("taxi_zone_lookup.csv")

In [6]:
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])

df_nov = df[
    (df["lpep_pickup_datetime"] >= "2025-11-01") &
    (df["lpep_pickup_datetime"] < "2025-12-01")
]

In [7]:
short_trips_count = df_nov[df_nov["trip_distance"] <= 1].shape[0]
short_trips_count

8007

In [8]:
df_valid = df_nov[df_nov["trip_distance"] < 100].copy()

df_valid["pickup_date"] = df_valid["lpep_pickup_datetime"].dt.date

daily_max = (
    df_valid
    .groupby("pickup_date")["trip_distance"]
    .max()
)

In [10]:
daily_max.sort_values(ascending=False).head(1)

pickup_date
2025-11-14    88.03
Name: trip_distance, dtype: float64

In [9]:
df_18 = df_nov[
    df_nov["lpep_pickup_datetime"].dt.date == pd.to_datetime("2025-11-18").date()
]

pickup_totals = (
    df_18
    .groupby("PULocationID")["total_amount"]
    .sum()
    .reset_index()
)

pickup_totals = pickup_totals.merge(
    zones,
    left_on="PULocationID",
    right_on="LocationID",
    how="left"
)

pickup_totals.sort_values("total_amount", ascending=False).head(1)[
    ["Zone", "total_amount"]
]

                 Zone  total_amount
39  East Harlem North       9281.92

In [11]:
east_harlem_north_id = zones[zones["Zone"] == "East Harlem North"]["LocationID"].iloc[0]

In [12]:
df_ehn = df_nov[df_nov["PULocationID"] == east_harlem_north_id]

In [13]:
top_tip = (
    df_ehn
    .groupby("DOLocationID")["tip_amount"]
    .max()
    .reset_index()
)

top_tip = top_tip.merge(
    zones,
    left_on="DOLocationID",
    right_on="LocationID",
    how="left"
)

top_tip.sort_values("tip_amount", ascending=False).head(1)[
    ["Zone", "tip_amount"]
]

               Zone  tip_amount
134  Yorkville West       81.89